
ion-content{
    --background: url('../../assets/bg9.png');

}
ion-toolbar{
    // --background: #8C1919;
    --background: url('../../assets/bg9.png');
    --color: #ffffff;
}


ion-item{
    --background: rgba(138, 37, 19, 0.534);
    --color: #ffffff;
}
ion-button{
    --background: #3A0000;
}

