.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

// ion-content{
//   --background: url('../../assets/bg9.png');  

// }
ion-toolbar{
  // --background: #8C1919;
  --background: url('../../assets/bg9.png');
  --color: #ffffff;
}

ion-content{
  --background: url('../../assets/vd1.mp4');

}

.card ion-button{
  float:left;
}



.star ion-icon {
  font-size: 35px;
}

.rating ion-icon {
  font-size: 35px;
}
.rating p {
  font-size: 20px;padding-top:-15px;
}